

<% action_url = (action == :new) ? bands_url : band_url(band) %>
<form action="<%= action_url %>" method="post">
  <% if action == :edit %>
   <input type="hidden" name="_method" value="patch">
 <% end %>
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="band_name">Name </label>
  <input
    name="band[name]"
    value="<%= band.name %>"
    id="band_name">

  <input type="submit">
